.divsiv {
    padding: 5%;
    text-align: center;

  }


    ul{
      display: flex;
    }
  label {
    width: 15%;
    display: inline-block;
    margin-bottom: 2em;
    padding: .5em;
    color: hsla(0, 0%, 100%, .5);
    border-bottom: .2em solid rgba(0, 0, 0, .1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s linear;
  }
  
  label:hover {
    background-color: rgba(255, 0, 0, 0.9);
  }
  



