.frame{
    display:inline-table;
    border-collapse:separate;
    border-spacing:20px;
    max-width:120px;
    width:120px;
  }

  .bs_test{
    max-width:200px;
    min-width:200px;
    width:200px;
    max-height:200px;
    min-height:200px;
    height:200px;
    display:table-cell;
    vertical-align:middle;  
    text-align:center;
    border:1px solid rgb(255, 0, 0);
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    transition:0.7s;
  }



  .Float{
    box-shadow:0 0 0 0px rgba(0,0,0,0);
    top:0px;
  }
  .Float:hover{
    box-shadow:0 80px 50px -60px rgba(0,0,0,0.5);
    position:relative;
    top:-20px;
  }